<main role="main" class="container">
  <div class="row">
    <div class="col-md-12 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Bem vindo ao Administrativo!</h2>
        <p>ADMIN.</p>
      </div>
    </div>
  </div>
</main>
